.moviecard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moviecard__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 31px 58px 50px;
  justify-content: center;
  justify-self:center;
}

.moviescard__button {
  width: 320px;
  height: 36px;
  text-decoration: none;
  background: none;
  cursor: pointer;
  outline: none;
  border: 1px solid;
}

.moviescard__button--hidden {
  display: none;
}

@media (max-width:900px) {
  .moviecard__list {
    padding: 0px 18px 50px;
  }
}

@media (max-width:480px) {
  .moviecard__list {
    padding: 0 0 60px;
  }

  .moviescard__button {
    width: 240px;
    border: 1px solid #e8e8e8;
    margin-bottom: 60px;
  }
}