.register {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 396px;
}

.register__home {
  background: none;
  border: none;
  align-self: flex-start;
}

.register__home__logo {
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
}

.register__redirect {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__form__field {
  background: #F9F9F9;
  border-radius: 8px;
  height: 46px;
  text-decoration: none;
  border: none;
  font-size: 13px;
  font-weight: 500;
  color: black;
  line-height: 16px;
  margin-bottom: 10px;
  outline: none;
}

.register__form__field--error {
  color: red;
}

.register__form__label {
  font-size: 10px;
  color: #A0A0A0;
  margin-bottom: 10px;
}

.register__form__error {
  height: 20px;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;  
  color: #FF4062;
  margin-bottom: 10px;
}

.register__form__button {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  height: 45px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 69px;
  padding: 0px;
  cursor: pointer;
}

.register__form__button--disabled {
  background: gray;
  cursor:default;
}

.register__redirect__link {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

@media (max-width:480px) {
  .register {
    width: 260px;
  }

  .register__home {
    align-self: center;
  }

  .register__title {
    text-align: center;
  }

  .register__redirect {
    font-size: 12px;
  }
}
